# Node
node_modules/
npm-debug.log*

# Environment
.env
*.env.local

# Build outputs
dist/
.angular/

# OS
.DS_Store
Thumbs.db

# Temp extraction folders
files_extracted/
vdp_extracted/

# IDE
.vscode/
.idea/

# Uploads (runtime)
backend/src/uploads/
